    * {
        margin: 0;
        padding: 0;
    }
    .navigation{
        background-color: rgb(140, 67, 34);
        display: flex;
        flex-direction: row;
        padding: 16px;
        gap: 64px;
        list-style: none;
        justify-content: center;
        font-size: large;
    }

    .menu-body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 55px;
        background-color: rgb(219, 200, 165);
    }

    .titel-menu{
        text-align: none;
        font-size: 2rem;
        -webkit-text-fill-color: rgb(78, 48, 18);
    }

    .meny-top{
        text-align: center;
        padding: 64px;
        background-color: rgb(249, 227, 204);

    }
    .namn{
        -webkit-text-fill-color: rgb(126, 75, 40);
        font-size: 3rem;
        padding: 8px;
        
    }

    .about-us{
        font-size: 2rem;
        padding: 8px;
        -webkit-text-fill-color: rgb(78, 48, 18);
    }

    .introduction{
        font-size: 1.1rem;
    }

    .menu-head{
        font-size: 1.4rem;
        -webkit-text-fill-color: rgb(126, 75, 40);
    }

    .menu-description{
        gap: 8px;
        font-size: 1.2rem;
        -webkit-text-fill-color: rgb(78, 48, 18);

    }
    .offer{
        font-size: 1.1rem;
    }

    .menu-list{
        padding: 16px;
        font-size: 1.1rem;
    }

    .divider{
        height: 2px;
        color: rgb(126, 75, 40);
        background-color: rgb(126, 75, 40);
    }

    .menu-body2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 32px;
        background-color: rgb(249, 227, 204);
    }

    .timebaking{
        display: flex;
        flex-direction: row;
    }

    .serve{
        font-size: 1.1rem;
        padding: 1.5px;
        gap: 4px;
    }

        .time-list{
        padding: 8px;
        font-size: 1.1rem;
        list-style: none;
    }

    .order{
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .contacts{
        background-color: rgb(140, 67, 34);
        text-align: center;
        font-size: 1.2rem;
        padding: 64px;
        list-style: none;
        gap: 8px;
    
    }

    .nolist{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
    }

    a:hover {
        color: rgb(241, 233, 0);
        text-decoration: underline;
    }

    .white{
        -webkit-text-fill-color: white;
    }

    .time-list{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }